##################
## Axoloti/Ksoloti
##################

*.log
firmware*/.dep
firmware*/build
firmware*/flasher/.dep
firmware*/flasher/flasher_build
firmware*/mounter/.dep
firmware*/mounter/mounter_build
packagetemp/
.preferences.xml
/target/
/build/
/nbproject/private/
/dist/
/jdks/zulu*.tar.gz
/jdks/zulu*.zip
private_key.*
axoloti.prefs*
ksoloti.prefs*
temp_*.cpp
temp_*.h
ChibiOS-*.zip
dfu-util-0.*
libusb-1.0.*

#libraries
home/
patches
objects
axoloti-contrib
axoloti-factory
ksoloti-objects
ksoloti-contrib

#compiler toolchain etc.
platform_*/arm-none-eabi
platform_*/lib
platform_*/share
platform_*/bin/arm-none-eabi-*
platform_win/apache-ant*

#Version file
src/main/java/axoloti/Version.java

#################
## Eclipse
#################

*.pydevproject
.project
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

# Xcode project
xcode/

# VSCode tags
tags
tags.lock
tags.temp