eol=lf

* text=auto
*.c text
*.cpp text
*.h text
*.xml text
*.java text diff=java

*.png binary
*.jpg binary
*.pdf binary
*.exe binary
*.tar binary

*.axh   text diff=html
*.axp   text diff=html
*.axs   text diff=html
*.axo   text diff=html
